<div class='mt-16 md:mt-0' id='features'>
  <h2 class='text-4xl lg:text-5xl font-bold lg:tracking-tight'>
    Everything you need All-in-one platform
  </h2>
  <p class='text-lg mt-4 text-slate-600'>
    Quick Test provides a comprehensive suit of features to fulfill all your
    needs to effectively manage your software project quality.
  </p>
</div>
<div class='grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-12 mb-24'>
  <div class='flex gap-4 items-start'>
    <div class='mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        class='text-white'
        astro-icon='bx:bxs-invite'
        ><g fill='none' fill-rule='evenodd'
          ><path
            d='M24 0v24H0V0h24ZM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018Zm.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022Zm-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01l-.184-.092Z'
          ></path><path
            fill='currentColor'
            d='M17 3a3 3 0 0 1 2.995 2.824L20 6v4.35l.594-.264c.614-.273 1.322.15 1.4.798L22 11v8a2 2 0 0 1-1.85 1.995L20 21H4a2 2 0 0 1-1.995-1.85L2 19v-8c0-.672.675-1.147 1.297-.955l.11.041l.593.264V6a3 3 0 0 1 2.824-2.995L7 3h10Zm3 9.539l-7.188 3.194a2 2 0 0 1-1.624 0L4 12.54V19h16v-6.461ZM17 5H7a1 1 0 0 0-1 1v5.239l6 2.667l6-2.667V6a1 1 0 0 0-1-1Zm-5 3a1 1 0 0 1 .117 1.993L12 10h-2a1 1 0 0 1-.117-1.993L10 8h2Z'
          ></path></g
        ></svg
      >
    </div>
    <div>
      <h3 class='font-semibold text-lg'>Invite Team</h3>
      <p class='text-slate-500 mt-2 leading-relaxed'>
        You can invite your team members to collaborate on a project and manage
        their permission level.
      </p>
    </div>
  </div>

  <div class='flex gap-4 items-start'>
    <div class='mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
        aria-hidden='true'
        class='text-white'
        astro-icon='bx:bxs-reports'
        ><path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z'
        ></path></svg
      >
    </div>
    <div>
      <h3 class='font-semibold text-lg'>Generate Report</h3>
      <p class='text-slate-500 mt-2 leading-relaxed'>
        Create reports and share as a PDF among various stakeholders.
      </p>
    </div>
  </div>

  <div class='flex gap-4 items-start'>
    <div class='mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
        aria-hidden='true'
        class='text-white'
        astro-icon='bx:bxs-todos'
        ><path
          fill='currentColor'
          d='M7.875 0a1 1 0 0 0-.656.375L3.812 4.656l-2.25-1.5A1.014 1.014 0 1 0 .438 4.844l3 2a1 1 0 0 0 1.344-.219l4-5A1 1 0 0 0 7.875 0zM12 3v2h14V3H12zM7.875 9a1 1 0 0 0-.656.375l-3.407 4.281l-2.25-1.5a1.014 1.014 0 1 0-1.125 1.688l3 2a1 1 0 0 0 1.344-.219l4-5A1 1 0 0 0 7.875 9zM12 12v2h14v-2H12zm-4.125 6a1 1 0 0 0-.656.375l-3.407 4.281l-2.25-1.5a1.014 1.014 0 1 0-1.125 1.688l3 2a1 1 0 0 0 1.344-.219l4-5A1 1 0 0 0 7.875 18zM12 21v2h14v-2H12z'
        ></path></svg
      >
    </div>
    <div>
      <h3 class='font-semibold text-lg'>Manage Todos</h3>
      <p class='text-slate-500 mt-2 leading-relaxed'>
        Create and manage Todo in your project and keep track of the priority
        items.
      </p>
    </div>
  </div>

  <div class='flex gap-4 items-start'>
    <div class='mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        viewBox='0 0 24 24'
        class='text-white'
        astro-icon='bx:bxs-dashboard'
        ><path
          fill='currentColor'
          d='M13 9V3h8v6h-8ZM3 13V3h8v10H3Zm10 8V11h8v10h-8ZM3 21v-6h8v6H3Z'
        ></path></svg
      >
    </div>
    <div>
      <h3 class='font-semibold text-lg'>Project Dashboard</h3>
      <p class='text-slate-500 mt-2 leading-relaxed'>
        Do a quick health check of your projects from a dashboard.
      </p>
    </div>
  </div>

  <div class='flex gap-4 items-start'>
    <div class='mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
        aria-hidden='true'
        class='text-white'
        astro-icon='bx:bxs-testcase'
        ><path
          fill='currentColor'
          fill-rule='evenodd'
          d='M20 4H4a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1ZM4 2a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h16a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H4Zm2 5h2v2H6V7Zm5 0a1 1 0 1 0 0 2h6a1 1 0 1 0 0-2h-6Zm-3 4H6v2h2v-2Zm2 1a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2h-6a1 1 0 0 1-1-1Zm-2 3H6v2h2v-2Zm2 1a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2h-6a1 1 0 0 1-1-1Z'
          clip-rule='evenodd'></path></svg
      >
    </div>
    <div>
      <h3 class='font-semibold text-lg'>Manage Test Cases</h3>
      <p class='text-slate-500 mt-2 leading-relaxed'>
        Create and manage all the test cases in one place and collaborate with
        team members.
      </p>
    </div>
  </div>

  <div class='flex gap-4 items-start'>
    <div class='mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
        aria-hidden='true'
        class='text-white'
        astro-icon='bx:bxs-milestone'
        ><path
          fill='none'
          stroke='currentColor'
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M18 6H5a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h13l4-3.5L18 6Zm-6 7v8m0-18v3'
        ></path></svg
      >
    </div>
    <div>
      <h3 class='font-semibold text-lg'>Manage Milestone</h3>
      <p class='text-slate-500 mt-2 leading-relaxed'>
        Manage project milestone and plan your test runs accordingly.
      </p>
    </div>
  </div>

  <div class='flex gap-4 items-start'>
    <div class='mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke='currentColor'
        aria-hidden='true'
        class='text-white'
        astro-icon='bx:bxs-reports'
        ><path
          stroke-linecap='round'
          stroke-linejoin='round'
          stroke-width='2'
          d='M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z'
        ></path></svg
      >
    </div>
    <div>
      <h3 class='font-semibold text-lg'>Test Runs</h3>
      <p class='text-slate-500 mt-2 leading-relaxed'>
        Execute test runs and create a quality report about your projects.
      </p>
    </div>
  </div>
</div>
