---
import Layout from '@layouts/Layout.astro';
---

<Layout title='Terms & Conditions'>
  <div class='max-w-screen-xl mx-auto px-5'>
    <div class='flex flex-col-reverse lg:flex-row lg:gap-x-4 gap-y-4'>
      <div
        class='lg:basis-1/4 text-center justify-center lg:text-start lg:justify-start lg:my-8'
      >
        <h3 class='font-semibold text-gray-600'>CONTACT US</h3>
        <div>Send us an email</div>
        <div>
          <a
            href='mailto:admin@quicklabs.in'
            class='hover:underline text-blue-600'>admin@quicklabs.in</a
          >
        </div>
      </div>
      <div class='lg:basis-3/4 my-8'>
        <h1
          class='font-extrabold text-2xl md:text-3xl lg:text-4xl mb-8 lg:mb-12'
        >
          Privacy Policy
        </h1>
        <div class='font-bold text-lg md:text-xl mb-6 lg:mb-10'>
          Last updated: 29/06/2022
        </div>

        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>1. Introduction</div>
          <div>
            <p>
              Quick Bio, registered at New Delhi (India) takes your privacy
              seriously and considers it important for your personal data
              (hereafter “your data”) to be treated with the necessary care and
              confidentiality at all times. This Privacy Statement explains how
              our organisation uses the personal data we collect from you when
              you and why. If you have any questions after reading this Privacy
              Statement, feel free to contact us at <a
                href='mailto:admin@quicklabs.in'
                class='hover:underline text-blue-600'>admin@quicklabs.in</a
              >
            </p>
            <p>
              To avoid any misunderstandings, we would like to clarify that this
              Privacy Statement is applicable on processing of personal data
              from: Account Registeration Personal data added by Account owners
              about employees
            </p>
            <p>
              Website visitors: persons who visit our marketing landing page
              quick Bio is a provider of this service, and not the owner of the
              collected data. The creator (the person who sends out a form) is
              responsible for the data he/she collects and thus data controller
              of respondent data
            </p>
          </div>
        </div>
        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>
            2. What data do we collect
          </div>
          <div>
            <p>
              Electronical identification data: including IP address, device &
              browser data, location data
            </p>
            <p>
              Information about your use of our website: including how you end
              up on our website, the pages you visited, the way in which you
              navigate on these web pages, the duration of the visit. Since we
              rely on the use of cookies for processing the above mentioned
              data, please refer to our Cookie Statement for more information.
              Registration information
            </p>
            <p>
              When you register for an account, we collect your first and last
              name, username, password and email address. Billing information
            </p>
            <p>
              If you have paid subscrption, that subscription is managed through
              Stripe and we do not store any billing information.
            </p>
          </div>
        </div>
        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>
            3. How will we use your data
          </div>
          <div>
            <p>We collect your data with your consent or in order to:</p>
            <p>Deliver our services to you</p>

            <p>To improve your user experience</p>

            <p>To email you with essential product updates</p>

            <p>To troubleshoot product functionality and fix bugs</p>

            <p>To respond to legal requests or prevent fraud</p>
          </div>
        </div>

        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>4. Data we share</div>
          <div>
            We only share your information with our service providers who help
            us operate our business, in which case those third parties are
            required to comply with the GDPR framework.
          </div>
        </div>
        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>5. Data retention</div>
          <div>
            If you are a quick Bio user we do not delete the data in your
            account. You are responsible for the time period for which you store
            the data. You can delete data in your quick Bio account. If you are
            a respondent, you will need to ask the creator how long your
            responses will be stored in quick Bio. We honor all deletions, If
            you wish to delete all records from our server, just write as an
            email and everything will be deleted.
          </div>
        </div>

        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>
            6. Your data protection rights
          </div>
          <div>
            As our Privacy Policy states, if you’ve submitted your personal data
            through quick Bio web app, the creator of that record is responsible
            for this data. Quick Bio only processes this data on the creator’s
            behalf. Quick Bio creators can exercise their rights directly with
            us, but respondents should contact the person or organization which
            created the records. If this isn't possible, please contact us.
            We'll help in any way we can.
          </div>
        </div>
        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>7. Marketing</div>
          <div>
            We would like to send you information about products and services of
            ours that we think you might like. If you have agreed to receive
            marketing, you may always op out at a later date. You have the right
            at any time to stop quick Bio from contacting you for marketing
            purposes.
          </div>
        </div>
        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>8. Cookies</div>
          <div>
            Cookies are a small text files that are placed on your computer or
            mobile device by websites you visit. They are widely used in order
            to make a website work, or work more efficiently, as well as to
            provide information to the owners of the site. Quick Bio uses
            cookies to improve your experience on our website and with our
            product.
          </div>
        </div>
        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>
            9. Changes to our Privacy Policy
          </div>
          <div>
            We can make changes to this Privacy Policy from time to time. In
            circumstances where a change will materially change the way in which
            we collect or use your personal information or data, we will send a
            notice of this change to all of our account holders. We keep our
            privacy policy under regular review and will place any updates on
            this web page.
          </div>
        </div>
        <div class='my-6'>
          <div class='text-lg font-semibold mb-4'>10. Contact</div>
          <div>
            <p>
              In order to resolve a complaint regarding the Site or to receive
              further information regarding use of the Site, please contact us
              at:
            </p>
            <p>Crownstack Technologies Pvt. Ltd</p>
            <p>
              <a
                href='mailto:admin@quicklabs.in'
                class='hover:underline text-blue-600'>admin@quicklabs.in</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>
