---
import Container from "@components/container.astro";
import Hero from "@components/quick-learn/hero.astro";
import Layout from "@layouts/ProductLayout.astro";
import Faq from "@components/quick-learn/faq.astro";
import Pricing from "@components/quick-learn/pricing.astro";
import Features from "@components/quick-learn/features.astro";
import Navbar from "@components/quick-learn/navbar.astro";
import Cta from "@components/quick-learn/cta.astro";
---

<Layout
  title="Quick Learn"
  description="Add chat and sms solution to your app"
  image=""
  url=""
>
  <Navbar />
  <Container>
    <h1 class="text-4xl font-bold text-center mt-20 mb-10">
      Launching soon...
    </h1>
  </Container>
</Layout>
