---
const currentPath = Astro.url.pathname;
---

<div class='mt-4 text-center text-slate-600'>
  <span>
    <a
      href=`${currentPath}/refund-policy`
      rel='noopener'
      class='hover:underline'
    >
      Refund Policy
    </a>
  </span>
  <span class='mx-2'>|</span>
  <span>
    <a href=`${currentPath}/terms` rel='noopener' class='hover:underline'>
      Terms & Conditions
    </a>
  </span>
  <span class='mx-2'>|</span>
  <span>
    <a href=`${currentPath}/privacy` rel='noopener' class='hover:underline'>
      Privacy Policy
    </a>
  </span>
</div>
