<footer class='max-w-screen-xl mx-auto px-5 my-20'>
  <div
    class='sm:flex sm:flex-wrap flex-row items-center mx-auto justify-center mb-4 space-y-1 sm:space-y-0 sm:gap-x-2 tracking-tight sm:tracking-none md:text-base text-sm'
  >
    <span class='flex flex-row items-center gap-x-1 sm:gap-x-2 justify-center'>
      <span
        class='whitespace-nowrap text-slate-500 hover:text-slate-700 hover:cursor-pointer'
      >
        <a href='/quick-bio' rel='noopener' class='hover:underline'>
          Quick Bio
        </a>
      </span>
      <div class='border rounded-full w-2 h-2 bg-slate-700 border-slate-500'>
      </div>

      <span
        class='whitespace-nowrap text-slate-500 hover:text-slate-700 hover:cursor-pointer'
      >
        <a href='/quick-connect' rel='noopener' class='hover:underline'>
          Quick Connect
        </a></span
      >
      <div class='border rounded-full w-2 h-2 bg-slate-700 border-slate-500'>
      </div>

      <span
        class='whitespace-nowrap text-slate-500 hover:text-slate-700 hover:cursor-pointer'
      >
        <a href='/quick-teams' rel='noopener' class='hover:underline'>
          Quick Teams
        </a></span
      >
    </span>
    <div
      class='hidden sm:block border rounded-full w-2 h-2 bg-slate-700 border-slate-500'
    >
    </div>

    <span class='flex flex-row items-center gap-x-1 sm:gap-x-2 justify-center'>
      <span
        class='whitespace-nowrap text-slate-500 hover:text-slate-700 hover:cursor-pointer'
      >
        <a href='quick-send' rel='noopener' class='hover:underline'>
          Quick Send
        </a></span
      >
      <div class='border rounded-full w-2 h-2 bg-slate-700 border-slate-500'>
      </div>

      <span
        class='whitespace-nowrap text-slate-500 hover:text-slate-700 hover:cursor-pointer'
      >
        <a href='quick-test' rel='noopener' class='hover:underline'>
          Quick Test
        </a></span
      >
      <div class='border rounded-full w-2 h-2 bg-slate-700 border-slate-500'>
      </div>

      <span
        class='whitespace-nowrap text-slate-500 hover:text-slate-700 hover:cursor-pointer'
      >
        <a href='quick-checklist' rel='noopener' class='hover:underline'>
          Quick Checklist
        </a></span
      >
    </span>
  </div>

  <p class='text-center text-sm text-slate-500 flex flex-wrap justify-center'>
    <span class='whitespace-nowrap'
      >Copyright © {new Date().getFullYear()}&nbsp;</span
    >
    <span class='whitespace-nowrap'
      >Crownstack Technologies Pvt. Ltd.&nbsp;</span
    >
    <span class='whitespace-nowrap'>All rights reserved.</span>
  </p>

  <p class='text-center text-xs text-slate-500 mt-1'>
    Made in India with ❤️ by<a
      href='https://crownstack.com'
      target='_blank'
      rel='noopener'
      class='hover:underline'
    >
      Crownstack Technologies
    </a>
  </p>
</footer>
