---
const menuitems = [
  { title: "Quick Team", path: "/quick-teams" },
  { title: "Quick Connect", path: "/quick-connect" },
  { title: "Quick Test", path: "/quick-test" },
  { title: "Quick Survey", path: "/quick-survey" },
  { title: "Quick Bio", path: "/quick-bio" },
  { title: "Quick Send", path: "/quick-send" },
  { title: "Quick Release", path: "/quick-release" },
  { title: "Quick Learn", path: "/quick-learn" },
  { title: "Quick Recruit", path: "/quick-recruit" },
];
---

<footer class="max-w-screen-xl mx-auto px-5 py-8">
  <div
    class="sm:flex sm:flex-wrap flex-row items-center mx-auto justify-center space-y-1 sm:space-y-0 sm:gap-x-2 tracking-tight sm:tracking-none md:text-base text-sm"
  >
    {
      menuitems.map((item, index) => (
        <>
          {
            <div class="border rounded-full w-2 h-2 bg-slate-700 border-slate-500 dark:bg-slate-600 dark:bg-slate-400" />
          }

          {
            <span class="whitespace-nowrap text-slate-600 hover:text-slate-800 dark:text-slate-400 dark:hover:text-slate-200 hover:cursor-pointer">
              <a
                href={item.path}
                rel="noopener"
                class="hover:underline  text-sm"
              >
                {item.title}
              </a>
            </span>
          }
        </>
      ))
    }
    <div
      class="border rounded-full w-2 h-2 bg-slate-700 border-slate-500 dark:bg-slate-600 dark:bg-slate-400"
    >
    </div>
  </div>
</footer>

<p class="text-center text-sm text-slate-500 flex flex-wrap justify-center">
  <span class="whitespace-nowrap"
    >Copyright © {new Date().getFullYear()}&nbsp;</span
  >
  <span class="whitespace-nowrap">Crownstack Technologies Pvt. Ltd.&nbsp;</span>
  <span class="whitespace-nowrap">All rights reserved.</span>
</p>

<p class="text-center text-xs text-slate-500 mt-1 pb-20">
  Made in India with ❤️ by<a
    href="https://crownstack.com"
    target="_blank"
    rel="noopener"
    class="hover:underline"
  >
    Crownstack Technologies
  </a>
</p>
