<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Crownstack Technologies Pvt. Ltd. All rights reserved.
  </p>

  <p class="text-center text-xs text-slate-500 mt-1">
    Made in India with ❤️ by<a
      href="https://crownstack.com"
      target="_blank"
      rel="noopener"
      class="hover:underline"
    >
      Crownstack Technologies
    </a>
  </p>
</footer>
