---
import { Image } from 'astro:assets';
import heroImage from '../assets/rocket-space-man.gif?url';
import Link from '@components/ui/link.astro';
import { Icon } from 'astro-icon';
---

<main
  class='grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24'
>
  <div class='py-6 md:order-1 hidden md:block'>
    <Image
      src={heroImage}
      alt='Astronaut in the air'
      width={600}
      height={201}
      loading='eager'
      format='avif'
    />
  </div>
  <div>
    <header
      class='bg-contain bg-fixed bg-clip-border bg-center bg-no-repeat bg-origin-border lg:bg-local'
    >
      <div class='mx-auto max-w-7xl sm:px-6 lg:px-8'>
        <div class='flex flex-col items-center justify-center'>
          <div class='flex w-full flex-col'>
            <h1
              class='mb-12 text-5xl font-extrabold leading-none tracking-tight text-black drop-shadow dark:text-white sm:mt-6 sm:text-7xl lg:font-black lg:leading-tight'
              data-cy='primary-heading'
            >
              <span class='block'
                ><span
                  class='rounded-lg bg-gradient-to-r from-green-600 to-cyan-500 bg-clip-text text-transparent'
                  >Your Business,</span
                ></span
              ><span
                class='rounded-lg bg-gradient-to-r from-red-600 to-yellow-500 bg-clip-text text-transparent'
                >Our Software</span
              ><span class='block'>Let's Launch.</span>
            </h1><h2
              class='mb-16 max-w-2xl py-3 text-2xl font-semibold drop-shadow dark:text-slate-100 sm:mb-11'
            >
              A set of world class software solutions to push your business into
              growth orbit quickly.
            </h2><div
              class='flex flex-wrap space-y-4 sm:space-y-0 sm:space-x-4'
            >
              <a
                title='Start using Nx by creating a workspace'
                class='group relative inline-flex opacity-100 focus:outline-none disabled:opacity-80 disabled:cursor-not-allowed transition'
                href='/getting-started/intro'></a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
</main>
