---
// @ts-ignore
import { Icon } from "astro-icon";

const products = [
  {
    title: "Quick Team",
    description:
      "Quickly manage your team, their schedule, KPIs, goals, performance, projects, milestones and much more.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Quick Connect",
    description:
      "Quickly document social interactions with your loved ones and never forget important details, not even the tiny ones.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Quick Test",
    description:
      "Quickly manage your manual test cases, generate project health reports and deliver best quality products.",
    icon: "bx:bxs-data",
  },
  {
    title: "Quick Checklist",
    description:
      "Quickly build checklists and never forget any step of your process; share it with your team members.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Quick Bio",
    description:
      "Quickly build your one pager social or professional bio, share it with the world and let people know what are you up to.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Quick Send",
    description:
      "Quickly add multiple communication channels like emails, SMS, Chats to your mobile and web apps.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Explore our collection of <span class="italic font-extrabold decoration-solid underline-offset-auto underline decoration-8 decoration-yellow-400">Quick</span> products
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Quicklabs builds easy to use software products that help you to manage your growing business.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    products.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
