---
const testimonials = [
    {
        title: "I wanted a decent alternative to expensive one pager profile builders to create my own profile. Quick Bio provides everything I need to create my profile and to list all my social links.",
        person: "Aashish Dhawan",
        position: "Co-Founder and CTO  | Crownstack",
    },
    {
        title: "Best thing about Quick Bio is its one time payment model. I do not change my profile much therefore paying monthly subscription never made sense to me for my use case.",
        person: "Hansika Kalra",
        position: "Software Engineer | Quy Tech",
    },
    {
        title: "I am absolutely floored by the level of care and attention to detail the team at Quick Bio have put into various themes which I can change as per my digital product requirements.",
        person: "Vishal Tyal",
        position: "Digital Creator | Freelancer",
    },
];
---

<!-- Testimonials -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        <!-- Card -->
        {
            testimonials.map((testimonial) => {
                return (
                    <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
                        <div class="flex-auto p-4 md:p-6">
                            <p class="text-base text-gray-800 md:text-xl dark:text-white">
                                <em>{testimonial.title}</em>
                            </p>
                        </div>

                        <div class="p-4 rounded-b-xl md:px-6">
                            <h3 class="text-sm font-semibold text-gray-800 sm:text-base dark:text-gray-200">
                                {testimonial.person}
                            </h3>
                            <p class="text-sm text-gray-500">
                                {testimonial.position}
                            </p>
                        </div>
                    </div>
                );
            })
        }
    </div>
    <!-- End Grid -->
</div>
<!-- End Testimonials -->
