<div
  class='bg-black p-8 md:px-20 md:py-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center'
>
  <h2
    class='text-3xl font-bold tracking-tight text-white sm:text-4xl lg:text-5xl'
  >
    Create your profile today
  </h2>
  <p class='text-slate-400 mt-4 text-lg md:text-xl'>
    and share with the world what you have been up to and what matters to you
    most
  </p>
  <div class='flex mt-5'>
    <a
      href='https://connect.quicklabs.in/auth/signup'
      class='rounded text-center transition focus-visible:ring-2 ring-offset-2 ring-gray-200 px-5 py-2.5 bg-white text-black border-2 border-transparent'
      >Get Started
    </a>
  </div>
</div>
