---
import Container from "@components/container.astro";
import Hero from "@components/quick-recruit/hero.astro";
import Layout from "@layouts/ProductLayout.astro";
import Faq from "@components/quick-recruit/faq.astro";
import Pricing from "@components/quick-recruit/pricing.astro";
import Features from "@components/quick-recruit/features.astro";
import Navbar from "@components/quick-recruit/navbar.astro";
import Cta from "@components/quick-recruit/cta.astro";
---

<Layout
  title="Quick Recruit"
  description="Add chat and sms solution to your app"
  image=""
  url=""
>
  <Navbar />
  <Container>
    <h1 class="text-4xl font-bold text-center mt-20 mb-10">
      Launching soon...
    </h1>
  </Container>
</Layout>
